<tei2html.config>
    <text.abbr>d.h.; z.B.</text.abbr>
    <text.quotes>„“‚‘</text.quotes>

    <pg.compliant>false</pg.compliant>

    <toc.numberEntries>false</toc.numberEntries>
    <toc.numberEntries.level0>true</toc.numberEntries.level0>

    <images.scale>0.5</images.scale>
    <images.maxSize>512</images.maxSize>
    <images.maxWidth>720</images.maxWidth>
    <images.maxHeight>720</images.maxHeight>
</tei2html.config>